.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Navbar should be fixed at the top */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  color: white;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-right: 330px;
  padding-right: 30px;
  height: 60px;
  z-index: 1000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Menu icon inside navbar */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  background: #3498db;
  color: white;
  padding: 7px;
  border-radius: 5px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #134d70fe;
  color: #fff;
  padding: 20px;
  position: fixed;
  left: -250px;
  top: 60px; /* Below navbar */
  height: 100%;
  transition: left 0.3s ease-in-out;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sidebar.open {
  left: 0;
}
.sidebar ul li{
  background-color: white;
  color: black;
  cursor: pointer;
}
.sidebar ul li:hover {
  background: #24c4af;
}

.convo-list {
  list-style: none;
  padding: 0;
}

.email {
  margin-top: 20px;
  font-size: 18px;
  color: #ddd;
}

.logout-btn {
  background: #e74c3c;
  color: #fff;
  padding: 8px ;
  margin-right: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 15px;
border-radius: 10px;
}

/* Content area */
.main-content {
  padding: 90px 20px 890px; /* Push content below navbar */
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
  margin-top: 30px;
  margin-left: 240px;
  
}
.content{
   padding: 20px;
  display: flex;
  flex-direction: row;
   width: 800px;
   gap: 20px;
}
.waveform {
  height: 300px;
  width: 300px;
  background: #2ea3c0;
   padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.record-btn {
  background: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

.transcribed-text {
   padding: 10px;
  height: 300px;
  width: 300px;
  background: #2ea3c0;
  border-radius: 5px;
}
