.register {
    text-align: center;
    padding: 40px;
    background-color: rgb(85, 126, 115);
    margin: 10%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    color: white;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-button {
    background: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .register p {
    margin-top: 10px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
  }
  